.FAQ_section{
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100vw;
}

.FAQ_title{
    font-size:50px;
    font-weight:600;
}
 
 