.hero_section {
  background-color: var(--color-black);
  height: 270px;
  /* width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_text {
  color: var(--color-white);
  top: 171px;
  left: 328px;
  padding:0px 45px 0px 10px;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}
