.album_section {
  background-color: var(--color-black);
  padding: 24px 32px 20px 32px;
  width: 100vw;
}
.album_top {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding-bottom: 18px;
}
.Card_wrapper {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}
.Carousal_wrapper {
  color: var(--color-white);
}
.text1 {
  color: var(--color-white);
}
.text2 {
  color: var(--color-primary);
  cursor: pointer;
}
