.search{
    display: flex;
    width: 568px;
    height: 45px;
}
.search_field{
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 502px;

}
.search_button{
   background-color: white;
   border: 1px solid black;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   width: 64px;
   padding: 14px 20px;
}
.search_icon{
    padding: 10px;
}
